*{
    margin: 0;
    padding: 0;
}
#root{
    width: 840px;
    height: 240px;
    margin: 20px auto;
}
div{
    border: 3px solid gold;
    display: flex;
    background-color: white;
}
.tree1{
    width: 400px;
    height: 200px;
    margin: 20px auto;
}
.tree2{
    width: 160px;
    height: 160px;
    margin: 20px auto;
}
.tree3{
    width: 30px;
    height: 120px;
    margin: 20px auto;
}
.button{
    margin: 0 auto;
    width: 20%;
    border: none;
}
.button input{
    width: 100px;
    height: 30px;
}